<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Moe | Ratelimited</title>
        <meta name="theme-color" content="#5865F2">
        <meta property="og:url" content="/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Moe | Ratelimited">
        <meta property="og:description" content="Moe, Eveyrthing Related To Anime">
        <%- include('partials/icon') %>
        <meta property="og:site_name" content="Anime Is My Moe">
        <%- include('partials/css') %>
    </head>
    <body style="/*background: url(&quot;design.jpg&quot;);*/ background-position: 0 -60px">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-12 col-md-8 col-xl-6 text-center mx-auto">
                    <img class="img-fluid" src="/images/Moe.jpeg" width="195" height="240" />
                    <p class="fs-3"> <span class="text-danger">RateLimited </span>Slow Down Your Requests Please</p> 
                </div>
            </div>
        </div>          
        <%- include('partials/footer') %>
        <%- include('partials/js') %>
    </body>
</html>
